.container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 3fr;
}

.submit,
.delete {
    background-color: lightgray;
    border: 1px solid black;
}

.right-side {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.submit:hover {
    background-color: green;
    opacity: .7;
}

button:hover {
    background-color: red;
    opacity: .7;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    padding: 10px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    padding: 10px;
}